<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[PM直播间]直播通知</title>
<style type="text/css">
	body {font-size: 14px;line-height: 1.666;font-family: arial, verdana, sans-serif;padding: 10px;margin: 0;}
</style>
</head>
<body>
	<div style="border:1px solid #D2D2D2; width:90%; margin: auto 5%; padding: 0 10px;">
		<p>
            您订阅的课程快开始啦!<br />
            时间：<%=startTime%>-<%=endTime%><br />
            讲师：<%=lecturer%><br />
            主题：<%=title%><br />
            介绍：<%=context%><br />
		</p>
	</div>
</body>
</html>