<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[PM直播间]专家邮箱</title>
<style type="text/css">
	body {font-size: 14px;line-height: 1.666;font-family: arial, verdana, sans-serif;padding: 10px;margin: 0;}
</style>
</head>
<body>
	<div style="border:1px solid #D2D2D2; width:90%; margin: auto 5%; padding: 0 10px;">
		<p>
			<%=content %>
		</p>
	</div>
	
	<div style="margin-top:30px;">
		<b>&nbsp;&nbsp;&nbsp;&nbsp;留言人:</b> <%=email %> <br>
		<b>留言时间:</b> <%=date %>
	</div>
</body>
</html>