<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[PM直播间]交易策略通知</title>
    <style type="text/css">
        body {font-size: 14px;line-height: 1.666;font-family: arial, verdana, sans-serif;padding: 10px;margin: 0;}
    </style>
</head>
<body>
<div style="border:1px solid #D2D2D2; width:90%; margin: auto 5%; padding: 0 10px;">
    <p>
        您订阅的分析师发表策略啦!<br />
        讲师：<%=authName%><br />
        交易策略：<%=remark%><br />
        说明：<%=content%><br />
    </p>
</div>
</body>
</html>